<div class="mt-5">
    <div class="container pt-5">
        <form method="POST" action="/customer/login">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" id="username" class="form-control" name="username"/>
                <label class="form-label" for="username">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" name="password"/>
                <label class="form-label" for="password">Password</label>
                <div>
                      <input type="checkbox" onclick="passwordToggle()">Show Password
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

            <div class="text-center my-3">
                <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
                </div>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="/customer/signup">Sign-up</a></p>
            </div>
        </form>
    </div>
</div>